body {
    text-align: center;    
}


.replayBtn {
  width: 50%;
  height: 100%;
  cursor: pointer;
  padding: 10px 10px;
  font-size: 20px;
  background-color: rgba(51,203,249,0.8);
  font-family: helvetica, sans-serif;
  font-weight: bold;
  margin: 2% auto;
}

.modal {
  display: none;
  position: fixed;
  max-width: 100%;
  overflow: auto;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

.modal-in{
  margin: 20% auto;
  max-width: 60%;
  border: 2px solid;
  background-color: rgba(51,203,249,0.7);
  text-align: center;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.replay {
  float: center;
  font-size: 50px;
  font-weight: bold;
  padding-right: 30px;
}

.replay:hover {
  cursor: pointer;
}

.hidden {
	display: none;
}

.button-replay {
	display: inline-block;
	width: 48px;
	height: 48px;
	position: absolute;
	top: 30px;
	right: 30px;
	cursor: pointer;
}